<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product App</title>
    <link rel="stylesheet" href="">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-300">
	<nav class="nav-bar w-full mb-4">
		
	</nav>
	<div id="app" class="w-2/3 mx-auto">
		<div class="product mt-4 flex">
		<div class="product-img w-full md:w-1/2">
			<img v-bind:src="image" alt="">
		</div>
		<div class=" w-full md:w-1/2">
		<h1 class="text-3xl">{{product}}</h1>
		<div class="text-xl mt-4">
			<ul class="list-disc">
				<li class="mt-2" v-for="detail in details">{{detail}}</li>
			</ul>
		</div>
		<div class="mt-4" v-for="variant in variants" :key="variant.variantId">
			<p class="mt-2" @mouseover="updateProduct(variant.variantImage)">{{variant.variantColor}}</p>
		</div>

		<div class="mt-4 flex">
			
				<span class="px-2" v-for="size in sizes">{{size}}</span>
			
		</div>
		<p class="mt-2" v-show="boosted">Boosted Product</p>
		<p class="mt-2" v-if="inStock">In Stock</p>
		<p class="mt-2" v-else>Out of Stock</p>
		<p class="mt-2 " v-if="onSale"><span class="bg-red-500 text-white text-xl border-4 rounded p-1">On Sale!!</span></p>
		<a :href="link" target="_blank" class="mt-4">Alternatives</a>
		
		<hr>
		<div class="mt-4 flex">
			<div>
		<button class="bg-blue-700 mx-4 text-white p-4 rounded hover:bg-blue-400 mt-2" v-on:click="addToCart">Add to Cart</button>
		<button class="bg-red-700 mx-4 text-white p-4 rounded hover:bg-red-400 mt-2" v-on:click="removeFromCart">Remove from Cart</button>
			</div>
		<span class="border-4 px-4 mx-4">Cart: {{cart}} </span>
		</div>
		</div>
		</div>
	</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="main.js"></script>
</body>